@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&display=swap');
@import url('https://fonts.cdnfonts.com/css/satoshi');

/*@font-face {
    font-family: "Fragment Mono";
    font-style: normal;
    font-weight: normal;
    src: local('Fragment Mono'), 
    url("../fonts/Fragment Mono/fragment-mono-normal.woff2") format("woff2");
}

@font-face {
    font-family: "Fragment Mono";
    font-style: italic;
    font-weight: normal;
    src: local('Fragment Mono'), 
    url("../fonts/Fragment Mono/fragment-mono-italic.woff2") format("woff2");
}*/