@import url("font-new.css");
@import url("token.css");
@import "tailwindcss";

body {
  
  background: linear-gradient(125deg, var(--color-bg-base) 8.44%, var(--color-bg-subtle) 91.56%), var(--color-bg-page);

  max-width:100%;
  overflow-x: hidden; 
  margin: 0rem;
  color: var(--color-text-base);
  font-family: "Satoshi", sans-serif;
  -webkit-font-feature-settings: "ss03" 1;
  -moz-font-feature-settings: "ss03" 1;
  font-feature-settings: "ss03" 1;
  font-style: normal;
  font-size: var(--fontSize-regular);
  line-height: 125%;
}

::selection {
  background-color: var(--color-highlight);
}

h1 { /* blue monospace text for h2 */
  margin: 0rem;
  color: var(--color-identity-primary);
  font-family: "Fragment Mono", monospace;
  font-size: var(--fontSize-xlarge);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  text-transform: lowercase;
}

h2 { /* blue monospace text for h2 */
  margin: 0rem;
  color: var(--color-identity-primary);
  font-family: "Fragment Mono", monospace;
  font-size: var(--fontSize-large);
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
  text-transform: lowercase;
}

h3 { /* bold text for h3 */
  margin: 0rem;
  color: var(--color-text-base);
  font-size: var(--fontSize-regular);
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

p {
	margin: 0rem;
}

a.fontStyle-nav:hover {
  color: var(--color-text-base);
  background-color: transparent;
  transition: 0.3s ease;
  text-transform: uppercase;
}

a.fontStyle-nav:active {
  color: var(--color-text-base);
  background-color: transparent;
  transition: 0.3s ease;
  text-transform: uppercase;
}

a.fontStyle-nav-selected:hover {
  color: var(--color-text-faint);
  background-color: transparent;
  text-transform: uppercase;
}

a.fontStyle-nav-selected:active {
  color: var(--color-text-base);
  background-color: transparent;
  text-transform: uppercase;
}

a.fontStyle-footer:hover {
  color: var(--color-text-base);
  background-color: transparent;
  transition: 0.3s ease;
  text-decoration: underline;
}

a.fontStyle-footer:active {
  color: var(--color-text-base);
  background-color: transparent;
  transition: 0.3s ease;
  text-decoration: underline;
}

.fontStyle-nav-icon {
  font-size: var(--fontSize-xlarge);
}

.fontStyle-nav {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: var(--fontSize-small);
  color: var(--color-text-subtle);
}

.fontStyle-nav-selected {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: var(--fontSize-small);
  font-weight: 500;
  color: var(--color-text-base);
}

.fontStyle-footer {
  font-size: var(--fontSize-small);
  color: var(--color-text-faint);
}

.fontStyle-desc {
  color: var(--color-text-subtle);
  font-family: "Fragment Mono", monospace;
  font-size: var(--fontSize-small);
  font-style: normal;
  line-height: 125%;
  text-transform: lowercase;
}

.fontStyle-caption {
  color: var(--color-text-faint);
  text-align: center;
  font-family: "Fragment Mono", monospace;
  font-size: var(--fontSize-xsmall);
  line-height: 100%;
}

.fontStyle-list {
  text-decoration: underline;
  text-decoration-color: var(--color-text-faint);
  text-underline-offset: 0.2rem;
}

.fontStyle-badge {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: var(--fontSize-xsmall);
  color: var(--color-text-subtle);
  background-color: var(--color-opacity-base);
}

.divider-gradient {
  border-top: 1px solid transparent;
  border-image-source: var(--border-subtle-gradient);
  border-image-slice: 1;
}

.divider-gradient-last {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-image-source: var(--border-subtle-gradient);
  border-image-slice: 1;
}

.image-frame-nocap {
  display: flex;
  padding: var(--spacing-medium, 1rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: var(--radius-large, 1.5rem);
  border: 1px solid var(--color-border-subtle);
  background: var(--color-opacity-base);

  box-shadow: 
  0 4px 8px 0 var(--color-shadow) inset, 
  0 2px 4px 0 var(--color-shadow) inset, 
  0 4px 8px 0 var(--color-shadow), 
  0 2px 4px 0 var(--color-shadow), 
  0 4px 16px 0 var(--color-shadow);
}

.topnav {
  transition: top 0.3s ease;
}

#blah-img {
  opacity: 0%;
  transition: 0.3s ease;
}

.project:hover {
  background: linear-gradient(to bottom, transparent, var(--color-opacity-base));
  border-radius: var(--radius-large, 1.5rem);
  transition: 0.3s ease;
}

.project-cover-img {
  width: 100vw;
  height: auto;
}

@theme {
  --color-*: initial;
  --color-bunker-90: oklch(22.28% 0.0079 274.57);
  --color-mirage-90: oklch(22.63% 0.0318 272.87);
  --color-ebony-clay-80: oklch(27.38% 0.0419 271.76);
  --color-fiord-65: oklch(43.62% 0.0327 269.16);
  --color-raven-50: oklch(57.99% 0.0289 268.63);
  --color-cadet-blue-25: oklch(78.5% 0.0289 274.55);
  --color-mercury-10: oklch(91.68% 0.0082 278.63);
  --color-concrete-5: oklch(96.07% 0.0017 247.84);
  --color-white-0: oklch(100% 0 0);
  --color-sapphire-60: oklch(43.05% 0.1168 273.84);
  --color-persian-blue-60: oklch(41.93% 0.2014 264.93);
  --color-cornflower-blue-25: oklch(71.66% 0.1467 269.95);
  --color-periwinkle-10: oklch(86.27% 0.0672 271.96);

  --font-satoshi: "Satoshi", sans-serif;
  --font-fragment: "Fragment Mono", monospace;
}