@import url("font.css");

body{
  max-width:100%;
  overflow-x: hidden; 
  margin: 0px;
  font-family: "proxima nova";
  color: #525c7a;
  font-weight: 300;
  font-size: 20px;
}

a:link {
  color: #143ab8;
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
}

a.nav-selected:link {
  color: #1a1b1f;
  background-color: transparent;
}

a.nav-text:link {
  color: #525c7a;
  background-color: transparent;
  font-weight: 300;
}

a.footer-text:link {
  color: #525c7a;
  background-color: transparent;
  font-weight: 400;
}

a:visited {
  color: #143ab8;
  background-color: transparent;
  text-decoration: none;
}

a.nav-selected:visited {
  color: #1a1b1f;
  background-color: transparent;
}

a.nav-text:visited {
  color: #525c7a;
  background-color: transparent;
}

a.footer-text:visited {
  color: #525c7a;
  background-color: transparent;
}

a:hover {
  color: #1a1b1f;
  background-color: transparent;
  transition: 0.3s ease;
}

a.nav-selected:hover {
  color: #99a2bf;
  background-color: transparent;
}

a.nav-text:hover {
  color: #99a2bf;
  background-color: transparent;
  transition: 0.3s ease;
}

a.footer-text:hover {
  color: #99a2bf;
  background-color: transparent;
  transition: 0.3s ease;
}

a:active {
  color: #1a1b1f;
  background-color: transparent;
  text-decoration: none;
}

a.nav-selected:active {
  color: #99a2bf;
  background-color: transparent;
}

a.nav-text:active {
  color: #99a2bf;
  background-color: transparent;
  transition: 0.3s ease;
}

a.footer-text:active {
  color: #99a2bf;
  background-color: transparent;
  transition: 0.3s ease;
}

h1 { /* project title */
  font-family: 'DomaineDisplayNarrow Bold', Georgia, serif;
  font-size: 44px;
  line-height: 62px;
  color: #1a1b1f;
  /*font-weight: 700;*/
  text-transform: None;
}

h2 { /* headings */
  font-family: 'DomaineDisplayNarrow Semibold', Georgia, serif;
  font-size: 32px;
  line-height: 40px;
  color: #143ab8;
  /*font-weight: 600;*/
  text-transform: capitalize;
}

h3 { /* section */
  font-family: 'ProximaNovaCond Regular', Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #99a2bf;
  /*font-weight: 400;*/
  font-stretch: condensed;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.nav-text {
  font-family: 'proxima nova';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 300;
  color: #525c7a;
}

.nav-selected {
  font-family: 'proxima nova';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 700;
  color: #1a1b1f;
}

.footer-text {
  font-family: 'proxima nova';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 400;
  color: #525c7a;
}

.home-title {
  font-family: 'DomaineDisplayNarrow Bold', Georgia, serif;
  font-size: 44px;
  line-height: 62px;
  color: #143ab8;
  text-transform: capitalize;
}

.label {
  font-family: 'ProximaNovaCond Regular', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1a1b1f;
  font-stretch: condensed;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: rgba(20, 58, 184, .2);
  border-radius: 4px;
  padding: 3px 10px;
  margin-right: 10px;
}

.project-intro {
  color: #1a1b1f;
  font-weight: 400;
}

.header {
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
  background-color: hsla(0%, 0%, 0%, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s ease;
  z-index: 300;
  margin: 0px;
  padding: 30px 30px 30px 30px;
}

.intro {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 960px;
}

.about-me {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 1140px;
}

.project {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 540px;
}

.scroll {
  position: absolute;
  bottom: 30px;
}

.button {
  background-color: #143ab8;
  border: none;
  color: white;
  padding: 9px 18px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}

.button:hover {
  background-color: #1a1b1f;
  transition: 0.3s ease;
  cursor: pointer;
}

.vert-left {
  display: flex;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}

.vert-center {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vert-right {
  display: flex;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}

.vert-dist {
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.hori-top {
  display: flex;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.hori-center {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hori-bottom {
  display: flex;
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

.hori-stretch {
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hori-baseline {
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.home-dbx {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../images/home-dbx.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-retreat {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../images/home-retreat.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-foodo {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../images/home-foodo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-vera {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../images/home-vera.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  padding: 80px 30px 30px 30px;
}

.footer-about {
  padding: 80px 30px 30px 30px;
  position: fixed;
  bottom: 0px;
}