@import url("font.css");

body{
  max-width:100%;
  overflow-x: hidden; 
  margin: 0px;
  font-family: "proxima nova";
  color: #525c7a;
  font-weight: 300;
  font-size: 20px;
}

a:link {
  color: #143ab8;
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
}

a.nav-selected:link {
  color: #1a1b1f;
  background-color: transparent;
}

a.nav-text:link {
  color: #525c7a;
  background-color: transparent;
  font-weight: 300;
}

a.footer-text:link {
  color: #525c7a;
  background-color: transparent;
  font-weight: 400;
}

a:visited {
  color: #143ab8;
  background-color: transparent;
  text-decoration: none;
}

a.nav-selected:visited {
  color: #1a1b1f;
  background-color: transparent;
}

a.nav-text:visited {
  color: #525c7a;
  background-color: transparent;
}

a.footer-text:visited {
  color: #525c7a;
  background-color: transparent;
}

a:hover {
  color: #1a1b1f;
  background-color: transparent;
  transition: 0.3s ease;
}

a.nav-selected:hover {
  color: #99a2bf;
  background-color: transparent;
}

a.nav-text:hover {
  color: #99a2bf;
  background-color: transparent;
  transition: 0.3s ease;
}

.funfact:hover {
  color: #1a1b1f;
  background-color: transparent;
  transition: 0.3s ease;
}

a.footer-text:hover {
  color: #99a2bf;
  background-color: transparent;
  transition: 0.3s ease;
}

a:active {
  color: #1a1b1f;
  background-color: transparent;
  text-decoration: none;
}

a.nav-selected:active {
  color: #99a2bf;
  background-color: transparent;
}

a.nav-text:active {
  color: #99a2bf;
  background-color: transparent;
  transition: 0.3s ease;
}

a.footer-text:active {
  color: #99a2bf;
  background-color: transparent;
  transition: 0.3s ease;
}

h1 { /* project title */
  font-family: 'DomaineDisplayNarrow Semibold', Georgia, serif;
  font-size: 44px;
  line-height: 62px;
  color: #1a1b1f;
  /*font-weight: 700;*/
  text-transform: None;
}

h2 { /* headings */
  font-family: 'DomaineDisplayNarrow Medium', Georgia, serif;
  font-size: 32px;
  line-height: 40px;
  color: #143ab8;
  /*font-weight: 600;*/
  text-transform: capitalize;
}

h3 { /* section */
  font-family: 'ProximaNovaCond Regular', Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #99a2bf;
  /*font-weight: 400;*/
  font-stretch: condensed;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.nav-text { /* type */
  font-family: 'proxima nova';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 300;
  color: #525c7a;
}

.nav-selected { /* type */
  font-family: 'proxima nova';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 700;
  color: #1a1b1f;
}

.footer-text { /* type */
  font-family: 'proxima nova';
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 400;
  color: #525c7a;
}

.home-title { /* type */
  font-family: 'DomaineDisplayNarrow Semibold', Georgia, serif;
  font-size: 44px;
  letter-spacing: .05rem;
  line-height: 62px;
  color: #143ab8;
  text-transform: capitalize;
}

.label { /* type */
  font-family: 'ProximaNovaCond Regular', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1a1b1f;
  font-stretch: condensed;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: rgba(20, 58, 184, .2);
  border-radius: 4px;
  padding: 3px 10px;
  margin-right: 10px;
}

.project-intro { /* type */
  color: #1a1b1f;
  font-weight: 400;
}

.header { /* container */
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar { /* container */
  background-color: hsla(0%, 0%, 0%, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s ease;
  z-index: 300;
  margin: 0px;
  padding: 30px 30px 30px 30px;
}

.intro { /* container */
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 960px;
}

.about-me { /* container */
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 1140px;
}

.project { /* container*/
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 540px;
}

.scroll { /* container */
  position: absolute;
  bottom: 30px;
}

.more-proj { /* container */
  display: flex;
  flex-direction: column;
}

.button { /* button style */
  background-color: #143ab8;
  border: none;
  color: white;
  padding: 9px 18px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
}

.button:hover { /* button style */
  background-color: #1a1b1f;
  transition: 0.3s ease;
  cursor: pointer;
}

.vert-left { /* container alignment */
  display: flex;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
}

.vert-center { /* container alignment */
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vert-right { /* container alignment */
  display: flex;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}

.vert-dist { /* container alignment */
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.hori-top { /* container alignment */
  display: flex;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.hori-center { /* container alignment */
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hori-bottom { /* container alignment */
  display: flex;
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

.hori-stretch { /* container alignment */
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hori-baseline { /* container alignment */
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.home-dbx { /* container */
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../images/home-dbx.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-retreat { /* container */
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../images/home-retreat.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-foodo { /* container */
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../images/home-foodo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home-vera { /* container */
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url("../images/home-vera.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#hobby-img {
  position: absolute;
  right: 0%;
  top: 0%;
  opacity: 0%;
}

#infographic:hover { /* cursor */
  cursor: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎨</text></svg>") 16 0,auto;
}

#infographic:hover ~ #hobby-img {
  opacity: 100%;
  content: url("../images/infographic.png");
  transition: 0.3s ease;
}

#ds100:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👩‍🏫</text></svg>") 16 0,auto;
}

#ds100:hover ~ #hobby-img {
  opacity: 100%;
  content: url("../images/ds100.gif");
  transition: 0.3s ease;
}

#ds-proj:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤖</text></svg>") 16 0,auto;
}

#ds-proj:hover ~ #hobby-img {
  opacity: 100%;
  content: url("../images/ds-proj.png");
  transition: 0.3s ease;
}

#knitting:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧶</text></svg>") 16 0,auto;
}

#knitting:hover ~ #hobby-img {
  opacity: 100%;
  content: url("../images/knitting.png");
  transition: 0.3s ease;
}

#nail:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💅</text></svg>") 16 0,auto;
}

#nail:hover ~ #hobby-img {
  opacity: 100%;
  content: url("../images/nail.png");
  transition: 0.3s ease;
}

#baking:hover {
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥐</text></svg>") 16 0,auto;
}

#baking:hover ~ #hobby-img {
  opacity: 100%;
  content: url("../images/baking.JPG");
  transition: 0.3s ease;
}

.footer { /* container */
  padding: 80px 30px 30px 30px;
}

.footer-about { /* container */
  padding: 80px 30px 30px 30px;
  position: fixed;
  bottom: 0px;
}